@font-face {
    font-family: "NotoSans-Regular";
    src: url(/templete/khj/fonts/NotoSans-Regular-f0ee3ba6b2d732c631f4d221ee25de542d0a3e109e4fed1f294e435da4aa03f1.woff);
}
@font-face {
    font-family: "NotoSans-Bold";
    src: url(/templete/khj/fonts/NotoSans-Bold-f6cfb0159bf1f9c6e22c04ca69fac98b34f9476bfbe93ad5d8a02d08a460b31e.woff);
}

html {
    height: 100%;
}

/* body */
.account-comm {
    display: table;
    width: 100%;
    min-width: 320px;
    height: 100%;
    border-collapse: separate;
}

body, th, td, input, select, textarea, button {
    font-size: 16px;
    line-height: 1.5;
    font-family: NotoSans-Regular,AppleSDGothicNeo-Regular,"맑은 고딕",Malgun Gothic,"돋움",dotum,sans-serif;
    color: #7c7c7c;
    letter-spacing: -0.03em;
    word-wrap: break-word;
}

body {
    background: #fff;
    -webkit-text-size-adjust: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, button {
    margin: 0;
    padding: 0;
}

/* kakao-wrap */
.account-comm #kakaoWrap {
    position: relative;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding: 50px 0;
}

div {
    display: block;
}

/* head */
.account-comm #kakaoHead {
    max-width: 520px;
    text-align: center;
    margin: 0 auto;
}

/* 로고 */
#kakaoServiceLogo{
    display: block;
    width: 130px; /* 변경된 너비 */
    height: auto; /* 변경된 높이 */
    margin: 0 auto;
    background: #fff url(/templete/khj/images/logo.png) no-repeat 0 0;
    background-size: contain; /* 배경 크기를 콘텐츠에 맞게 조정 */
    font-size: 19px; /* 폰트 크기 */
    line-height: 27px; /* 행 간격 */
    text-align: center; /* 가운데 정렬 */
}
.ir-wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}

fieldset, img {
    border: 0 none;
}

/* 중단 */
#kakaoContent, #mArticle {
    display: block;
}


/* 길이때문에 50px로 수정 */
.account-comm #mArticle {
    position: relative;
    max-width: 580px;
    min-height: 520px;
    margin: 40px auto;
    padding: 58px 69px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-sizing: border-box;
}

/* pageFindAccountResult */
div[data-role=page].km-page-active {
    display: block;
}

/* tit-main */
.tit-main {
    font-size: 24px;
    line-height: 34px;
    color: #252525;
    letter-spacing: -1px;
    font-weight: normal;
}

/* desc-main */
.desc-main {
    margin-top: 15px;
    text-align: left;
    word-break: keep-all;
}

/* wrap-find */
.wrap-match {
    margin-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.08);
}

/* box-find */
.box-find {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    letter-spacing: 0;
}

/* txt-contact */
.box-find>.txt-contact:first-child {
    padding-top: 0;
}

.box-find .txt-contact {
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #4c4c4c;
}

.box-find .txt-contact .emph-contact {
    font-family: NotoSans-Bold,sans-serif;
    color: #191919;
}

/* phone-number-invalid */
.hide {
    display: none;
}

.box-find .desc-contact {
    padding-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.box-find .desc-contact .desc-sub {
    display: block;
    padding-top: 5px;
}

/* 마스킹 정보 */
.box-find .link-comm {
    margin-top: 20px;
}

.cont-find .link-add {
    display: block;
    margin-top: 26px;
}

.link-comm {
    display: inline-block;
    font-size: 12px;
    color: #191919;
    vertical-align: top;
    text-decoration: underline;
}

label, button, a, input {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

a {
    color: #4c4c4c;
    text-decoration: none;
}

/* 비밀번호 재설정 */
.box-find .link-comm+.link-point {
    margin-top: 10px;
}

.cont-find .link-point {
    display: block;
    color: #2c88de;
}

/* 로그인 버튼 */
.cont-find .wrap-btn {
    margin-top: 40px;
}

.wrap-btn .btn-confirm {
    background-color: #fee500;
}

.wrap-btn .btn-g {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    color: #191919;
}

.wrap-btn .btn-confirm:hover {
    background-color: #f0d700;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

/* footer */
.account-comm #kakaoFoot {
    text-align: center;
    margin: 0 auto;
}

.footer-comm .service-info {
    font-size: 0;
}

.footer-comm .link-info {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    color: #4c4c4c;
    line-height: 20px;
}

.footer-comm .link-policy {
    font-family: NotoSans-Bold,sans-serif;
}

.footer-comm .txt-copyright {
    display: block;
    margin-top: 8px;
    font-size: 11px;
    color: #7c7c7c;
    line-height: 18px;
    letter-spacing: 0;
}

.screen-out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}