/* 공통 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*,
:after,
:before {
    box-sizing: border-box;
    font-family: Pretendard !important;
    border: 0 solid #e5e7eb;

}

* {
    text-decoration: none !important;
}

button {
    cursor: pointer;
}

/* body class="body-full" */
.body-full {
    /* overflow-x: hidden; */
    height: 100%;
    margin: 0;
    line-height: inherit;

    display: block;
    /* margin: 8px; */
    line-height: inherit
}

;

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: Pretendard;
}

nav {
    display: block;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */
/* menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
} */
ul {
    /* list-style-type: disc; */
}

/* img {
    overflow-clip-margin: content-box;
    overflow: clip;
} */



/* 사용자 에이전트 스타일시트 */
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* 사용자 에이전트 스타일시트 */
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}




/* 
    전체를 감싸는 div
    div class="all-full-div"
 */
.all-full-div {
    min-height: 100%;

}

/* 
    관리자 화면 전체 내용 div
    <div class="content-full-div">
*/
.content-full-div {
    flex-direction: column;
    height: 100vh;
    /* display: flex; */
}

/* 미디어쿼리 */
/* 헤더 메뉴 네비게이터 */
/* .header-menu-nav */
@media (min-width: 1024px) {
    .header-menu-nav {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 1024px) {
    .header-menu-nav {
        height: 58px;
    }
}


/* 헤더 메뉴 네비게이터 */
.header-menu-nav {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 56px;
    display: flex;
    z-index: 20;
    left: 0;
    top: 0;
    position: sticky;
    background-color: #c8c8ff;
}

/* 오른쪽 버튼 이미지
    <div class="admin-right-menu-div"> */

.admin-right-menu-div {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    display: block;
}

/* 
    관리자 오른쪽 프로필 이미지 div
    <div class="admin-right-menu-img-div"> 
*/
.admin-right-my-img-tag {
    width: 32px;
    height: 32px;
}

/* 문의 목록 보기 */
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
.content-full-body-div{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;

    display: block;
}

/* 메인 */
.content-full{
    flex-direction: column;
    max-width: 720px;
    min-width: 320px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
}
/* 문의 제목 */
.user-answer-title{
    margin-bottom: 18px !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #1d1d1e;
    fill: #1d1d1e;
    margin: 0;
}
/* 유저 프로필을 감싸는 div */
.user-answer-profile-div{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.user-answer-profile-div-detail{
    white-space: nowrap;
    column-gap: 10px;
    align-items: center;
    display: flex;
}
/* 유저 프로필 이미지 */
.user-profile-img{
    width: 34px;
    height: 34px;
    border-radius: 9999px;
    position: relative;
}
/* 유저 프로필 닉네임 */
.user-profile-name-move{
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #333334;
    fill: #333334;
}
/* 등록 날짜 및 시간 */
.user-profile-date-time{
    align-items: center;
    display: flex;
    margin-top: 2px;
}
.user-profile-date-time-day-atag{
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8a8a8b;
    fill: #8a8a8b;
}
/* 공개범위 */
/* 이미지 */
.user-profile-circle-img{
    width: 3px;
    height: 3px;
    margin-left: 4px;
    margin-right: 4px;
    color: #b9b9bb;
    fill: #b9b9bb;
    display: block;
    vertical-align: middle;
}
/* 공개 범위 */
.user-profile-range{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8a8a8b;
    fill: #8a8a8b;
    margin: 0;
}
/* 오른쪽 공유 버튼 및 메뉴 */
.user-profile-share-menu-div{
    gap: 12px;
    display: flex;
}
/* 공유 버튼 */
.share-img-div{
    align-items: center;
    display: flex;
    position: relative;
}
.share{
    /* -webkit-appearance: button; */
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.share-img{
    width: 24px;
    height: 24px;
    color: #8a8a8b;
    fill: #8a8a8b;
    display: block;
    vertical-align: middle;
}
/* 메뉴 버튼 */
.menu-img-div{
    align-items: center;
    display: flex;
    position: relative;
}
.menu-img-div-div{
    align-items: center;
    display: flex;
    position: relative;   
}
.more-button{
    /* -webkit-appearance: button; */
    background-color: transparent;
    background-image: none;
}
.menu-img{
    width: 24px;
    height: 24px;
    color: #8a8a8b;
    fill: #8a8a8b;
    display: block;
    vertical-align: middle;
    background-color: transparent;
    background-image: none;
}
/* 프로필 끝 */



/* 내용 */
.user-answer-content{
    padding-top: 32px;
    border-top-width: 1px;
    margin-top: 24px;
    border-color: #f3f3f4;
}   

/* 작성내용 */
.user-answer-content-post-detail{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    word-break: break-all;
    color: #333334;
    padding: 0;
    user-select: none;
}

/* 하단 유저정보 */
.user-info{
    padding-top: 32px;
    padding-bottom: 32px;
    border-top-width: 1px;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    position: relative;
    border-color: #f3f3f4;
}
/* 사진 */
.user-info-img-button{
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    border-width: 0.8px;
    border-radius: 9999px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    border-color: rgba(0,0,0,.1);
    cursor: pointer;
    /* -webkit-appearance: button; */
    background-color: transparent;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.user-info-name{
    padding-left: 40px;
    padding-right: 40px;
    gap: 4px;
    flex-direction: column;
    display: flex;

}
.user-info-name-text{
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    /* -webkit-appearance: button; */
    background-color: transparent;
    background-image: none;
    text-transform: none;
    /* font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit; */
    color: inherit;
    margin: 0;
    padding: 0;
}
/* 하단 유저 정보 끝 */

/* 일반 선을 만드는 div */
.border-t-border-primary{
    border-top-width: 1px;
    border-color: #e6e6e7;
}
/* 댓글 타이틀 */
.comment-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333334;
    fill: #333334;
}
.comment-content-full-div{
    border-width: 1px;
    border-radius: 8px;
    border-color: #e6e6e7;
}
.comment-content-full-div-div{
    padding: 16px;

}
.comment-content-admin-div{
    gap: 10px;
    display: flex;
}
/* 댓글 관리자 사진버튼 */
.comment-content-admin-button{
    width: 32px;
    height: 32px;
    outline: none;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;

}
.comment-content-admin-button-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    object-position: center center;
    color: transparent;
    border-radius: 9999px;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
.comment-content-admin-button-div{
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-color: rgba(0,0,0,.1);
}
/* 관리자 이미지 */
.comment-content-admin-button-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    object-position: center center;
    color: transparent;
    max-width: 100%;
    /* height: auto; */
    display: block;
    vertical-align: middle;
}
.comment-content-admin-button-div{
    gap: 4px;
    align-items: center;
    display: flex;
}
/* 관리자 이름 */
.comment-content-admin-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1d1d1e;
    fill: #1d1d1e;
}

/* 댓글 텍스트창 */
.comment-content-admin-text-box-div{
    flex-direction: column;
    height: 100%;
    display: flex;

}
.comment-content-admin-text-box-label{
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    cursor: default;
}
.comment-content-admin-textarea{
    height: 48px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    width: 100%;
    max-height: 88px;
    /* height: 48px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
    resize: vertical;
    margin: 0;
}
/* 취소 등록 버튼 */
.comment-content-admin-button-cancel-add{
    gap: 10px;
    justify-content: flex-end;
    display: flex;
}

/* 취소 */
.comment-content-admin-button-cancel{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
    /* -webkit-appearance: button; */
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    /* font-family: inherit; */
    /* font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit; */
    /* margin: 0;
    padding: 0; */
}
/* 등록 */
.comment-content-admin-button-add{
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    fill: #fff;
    background-color: #a294fc;
    -webkit-appearance: button;
    /* background-color: transparent; */
    background-image: none;
    cursor: pointer;
    text-transform: none;
    /* margin: 0; */
    /* padding: 0; */
}

/*  */
.user-info-img{
    width: 30px;
}


/* ahekf */
.modal {
    
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    /* z-index로 맨 앞으로 보냄 */
    z-index: 1000; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}
.modal_body {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
     transform:translateY(50%);
    margin: auto;
    
}

.modal-share-div{
    display: flex;
}

.head-modal{
    padding-bottom: 20px;
    padding-top: 20px;
}

.modal-button{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 16px;
}


li{
    list-style: none;
}
.admin-answer{
    list-style: none;
    margin: 0;
    padding: 0;
}
.admin-answer-list{
    border-top-width: 0;
    padding-left: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-color: #f3f3f4;
}
/* 관리자 답변 칸 이미지 */
.admin-answer-list-img-div{
    gap: 10px;
    display: flex;

}
.admin-answer-list-img-div-button-div{
    flex-shrink: 0;
}
.admin-answer-list-button{
    width: 32px;
    height: 32px;
    outline: none;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.admin-answer-list-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    object-position: center center;
    color: transparent;
    border-radius: 9999px;
    display: block;
    vertical-align: middle;
}

.admin-answer-list-img-end-div{
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-color: rgba(0,0,0,.1);
}
/* 답글내용 */
.admin-answer-list{
    width: 100%;
    
}
.admin-answer-list-info-remove-button{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.admin-answer-list-name-div{
    gap: 4px;
    align-items: center;
    display: flex;  
}
.remove-button{
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.remove-button-img{
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    width: 20px;
    height: 20px;
    color: #cccccd;
    fill: #cccccd;
    display: block;
    
}

/* 관리자명 */
.admin-answer-list{
    margin-top: 5px;
    padding: 0px;

}
.admin-answer-list-name-div{
    gap: 4px;
    align-items: center;
    display: flex;
}
.admin-answer-list-name-div-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1d1d1e;
    fill: #1d1d1e;

}
.admin-answer-list-comment-div{
    margin-top: 15px;
    word-break: break-all;
    /* white-space: pre-wrap; */
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333334;
    fill: #333334;
}
.admin-answer-list-comment-div-p{
    margin: 0;
}
.admin-answer-list-comment-time-span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333334;
    fill: #333334;
}

/* 맨 아래 하단 */
.border-t-border-primary{
    border-top-width: 1px;
    border-color: #e6e6e7;
}