@import "//cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css";

body{
    font-size: 14px;
    font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
    color: #333;
}
/* 바디 */
.noline-desktop{
    font-size: 14px;
    font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
    color: #333;
    height: 100%;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
    display: block;
    /* margin: 8px; */
}
.style-span{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}
/* wake up 전체 */
.wakeupWrap{
    overflow: visible;
    visibility: visible;
    margin: 0;
    padding: 0;

}
.div1{
    margin: 0;
    padding: 0;
    display: block;
}
.div2{
    margin: 0;
    padding: 0;
    display: block;
}
/* 왼쪽 타이틀 */
.headBar-head-story{
    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 768px;
    height: 64px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #fff;
}
/* 왼쪽 타이틀 h1 */
.title-logo{
    float: left;
    width: 170px;
    height: 64px;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.link-title-logo{
    display: block;
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    
}
.title-logo-img{
    border: 0 none;
    vertical-align: top;
    height: 25px;
    aspect-ratio: auto 138 / 25;
    width: 138px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* 검색 */
.headBar-form{
    margin: 0;
    padding: 0;
    display: block;
}
.Wakeup-search{
    float: left;
}
.screen-out{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* fld-inside 필드셋 */
.fld-inside{
    margin-top: 10px;
    border: 0 none;
    /* vertical-align: top; */
    /* margin: auto; */
}

.box-searchbar{
    
    position: relative;  
    width: 300px;
    height: 30px;
    padding-left: 2px;
    border-bottom: 2px solid #d0d0d0;
    background-color: #fff;

}
/* search-placehoder */
.search-Placeholder{
    display: block;
    position: absolute;
    left: 5px;
    bottom: 7px;
    font-size: 12px;
    color: #999;
    cursor: text;
    
}
.search-input{
    width: 156px;
    height: 20px;
    padding: 5px 0;
    border: 0 none;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    background-color: #fff;
    outline: 0 none;
    font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
    color: #333;
    background-color:transparent;
}
/* 버튼 */
.button-search{
    position: absolute;
    right: -6px;
    top: 0;
    width: 30px;
    height: 30px;
    padding: 7px;
    /* padding: 0; */
    margin: 0;
    font-size: 14px;
    font-family: Apple SD Gothic Neo,'Apple SD 산돌고딕 Neo',NanumGothic,'나눔고딕',ng,sans-serif;
    color: #333;
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.ico-ks-ico-search{
    position: relative;
    width: 16px;
    height: 16px;
    background-position: -320px 0;
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url(../../../../../wake-up-front/templete/ljr/admin/images/search.png) no-repeat 0 0;
    text-indent: -9999px;

}
/* 오른쪽 메인메뉴 */
.layer-left-menu-bar{
    float: right;
    margin: 0;
    padding: 0;
    
    
}
/* 오른쪽 메뉴 li */
.left-menu-ul{
    margin-right: 50px;
    justify-items: center;
    padding-top: 4px;
    display: flex;
    height: 45px;
    
    list-style: none;
    
    
}

    

/* 글쓰기 */
.write{
    float: left;
    position: relative;
    /* width: 30px; */
    height: 35px; 
    margin-right: 15px;

}
.wirte-img{
    width: 27px;
    height: 27px;
    background-position: -165px 0;
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    /* background: url(../img/ico_ks.png) no-repeat 0 0; */
    text-indent: -9999px;
}
/* 툴팁 */

/*  */
/* 알림 */
.newnoti{
    float: left;
    position: relative;
    width: 30px;
    height: 35px;
    /* padding-top: 10px; */
    /* margin-left: 7px; */
    list-style: none;
    margin: 0;
    padding: 0;
}
.link-newnoti{
    width: 27px;
    height: 27px;
    padding: 4px 2px;
    display: block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
/* 알림 이미지 */
.newnoti-img{
    /* display: none; */
    left: 50%;
    top: -4px;
    margin-left: 4px;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;
    background-position: -80px -635px;
    color: #fff;
    text-align: center;
    text-indent: 0;
    /* text-shadow: 0 -1px 1px #00a3e5; */
}

/* Wakeup Content */
.WakeUp-content-full-div{
    margin: 0;
    padding: 0;
    display: block;
}
.WakeUp-content-full-div-main{
    margin: 0;
    padding: 0;
    display: block;
}
#my-menu-body{
    margin: 0;
    padding: 0;   
}
#my-menu{
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    height: 100%;
    width: 258px;
    border-left: 1px solid #d0d0d0;
    background-color: #f3f3f3;
}
/* 사용자 메뉴 */
.inner-my-menu{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.my-menu-profile{
    padding-top: 80px;
    margin: 0 15px;
    padding: 0;
    display: block;
}
/* 사용자 프로필 */
/* 사용자 프로필 사진 */

.img-profile-user-link-img-div-size{
    margin-top: 70px;
    width: 70px;
    height: 70px;
    /* display: flex; */
    margin: auto;
    background-color: #cecaca;
    border-radius: 9999px;
    margin-bottom: 20px;
}
.img-profile-user-link-img-div{
    
    width: 70px;
    height: 70px;
    display: flex;
    margin: auto;
    margin-top: 100px;
   

}
.img-profile-user-link-img{
    width: -webkit-fill-available;
    cursor:pointer;
    background-color: transparent;
}

.name-profile-user-link-name-div{
    background-color: b;
    display: flex;
    margin: auto;
    text-decoration: none;
    justify-content: center
}
.name-profile-user-link-name{
    display: flex;
    margin: auto;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}
/* 하단 메뉴 */
.my-menu-under-menu{
    margin-top: 30px;
   
    
}
.my-menu-under-menu-ul{
    list-style: none;
    padding-left: 0;
}

.my-menu-under-menu-ul > li{
    /* margin: 30px; */
    /* margin-top: 20px; */
    /* margin-top: 20px; */
    margin-left: 0;
    margin-right: 0;
    height: 48px;
    /* padding-left: 20px; */
    
    border-top: 1px solid #d0d0d0;
}
/* 메뉴 버튼 */
/* 내 스토리 */
.my-menu-my-story{
    margin-top: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}
/* 내가 쓴 댓글 */
.my-menu-my-commeny{
    /* margin-top: 20px; */
    /* margin-top: 20px; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}
/* 프로필 설정 */
.my-menu-my-set{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}
/* 로그아웃 */
.my-menu-my-logout{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    border-bottom: 1px solid #d0d0d0;
}

/* 콘텐츠 */
.article_story{
    padding: 65px 260px 0 0;
}
.inner_article{
    margin: 0;
    padding: 0;
}

.writing--container{
    overflow: visible;
    margin: 0;
    padding: 0;
}
.write-board{
    /* display: none; */
    position: static;
    width: 578px;
    margin: 0 auto;
    padding-top: 20px;
}


/* 글쓴이 작성란 div */
/* 크기 조절 min-height */
.section-write-disable-dropzone{
    height: 100%;
    background-color: #fff;
    padding-bottom: 66px;
    padding-bottom: 20px !important;
    margin-top: 0;
    position: relative;
    padding: 36px 40px 16px;
    border-radius: 0;
    border-width: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dedede;
    /* 클릭시 min-height 증가 */
    /* min-height: ; */
  
}

.input-content-control{
    height: 100%;
    /* position: relative; */
}
.editable-editable{
    height: auto;
    flex-grow: 1;
    border: 1px solid #ccc;
    /* min-height: 20px; */
    border: none;
    outline: none;
}
li{
    list-style: none;
}
.mediachoice-type-ul{
    display: flex;
    /* align-content: center; */
    justify-content: center;
    padding: 0%;
    margin: 0;

}

.writing{
    min-height: 50px;
}
.link-menu-mediabutton-photo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 200px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-right: 0px;
    cursor: pointer;;
}

.link-menu-mediabutton-photo-a-tag{
    display: flex;
    justify-content: center;
}
.link-menu-mediabutton-link-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 200px;
    height: 54px;
    background-color: transparent;
    border: 1px solid #ccc;
    
    cursor: pointer;;
}

.link-menu-mediabutton-link-a-tag{
    display: flex;
    justify-content: center;
}

/* 전체공개 및 취소/올리기 */
/*  */

/* 미디어 버튼 */
/* 클릭하지 않았을때 display:none; */
.user-write-open-range-add-div{
    margin-top: 16px;
    /* display: none; */
}
.user-write-open-range-select-div{
    display: inline;
}
#user-write-open-range-select{
    
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    height: 34px;
    border: 1px solid #ccc;
    cursor: pointer;

}
/* 취소  올리기 */
.user-write-add-cancel-button-div{
    float: right;
    display: flex;
    cursor: pointer;
   
}

.user-write-cancel-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    height: 34px;
    margin-right: 3px;
    border : 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}
.user-write-add-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    height: 34px;
    border :none;
    margin-left: 5px;
    background-color: #8B7DE6;
    color:#fff;
    cursor: pointer;
}

/* 피드 시작 */
.feed-list{
    position: relative;
    width: 578px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding: 0;
    display: block;
}

.feed-page-list{
    margin: 0;
    padding: 0;
    display: block;
}
.wrapper-user-board{
    margin: 0;
    padding: 0;
    display: block;
}
.section-activity{
    position: relative;
    min-height: 100px;
    margin: 19px auto 0;
    padding: 40px 40px 0;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    /* box-shadow: 0 1px 0 rgba(198,201,206,.2); */
    /* -webkit-box-shadow: 0 1px 0 rgba(198,201,206,.2); */

}

.subTitleWrapper{
    margin: 0;
    padding: 0;
    display: block;
    
}

/* 프로필 사진 */
.profile-Area-pf-div{
    height: 56px;
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
}

.profile-Area-pf-div-back{
    background-color: #cecaca;
    border-radius: 9999px;
}
/* 이름 */
.add-top-name-info{
    float: left;
    width: 428px;
    padding-left: 12px;
    /* margin-top: 10px; */
}
.my-id-profile{
    padding-bottom: 2px;
}
.pf_name{
    font-weight: 700;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.add-board-time{
    padding: 0;
    margin: 0;
}
/* 게시판 메뉴 버튼 */
.button-top-menu-fix-button{
    position: absolute;
    right: 0px;
    top: 40px;
    min-width: 50px;
    float: right;
    cursor: pointer;
}
/* 글 작성 칸 */
.fd-content-user-write-screen{
    clear: both;
    color: #36373c;
    word-break: break-all;
}

/* 좋아요 공유 */

.user-add-act-btn{
    display: flex;
    margin-top: 30px;
}

.btn-like-group-in{
    background-color: transparent;
    height: 40px;
    margin: 20px 0 8px;
}
/* 좋아요 버튼 */
.user-btnlike{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-like-group-in{
    float: left;
    /* width: 135px; */
    margin: 0;
    padding: 0;
}

/* 공유 버튼 */
.user-btnShare{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*  */
.user-comment-like-count-div{
    padding: 0 40px;
    margin: 0 -40px;
    border-top: 1px solid #f4f4f4;
    background: #fcfcfc;
}
.user-comment-like-count{
    height: 35px;
    /* border-bottom: 1px solid #eee; */
    font-size: 12px;
    line-height: 35px;
    text-decoration: none;
}
.like-button-count-human-link{
    text-decoration: none;
    color: #333;
}


.user-board-open-menu-layer{
    position: absolute;
    left: 407px;
    top: 65px;

    display: block;
    top: 62px;
    overflow: hidden;
    width: 120px;
    /* right: 340px !important; */
    /* top: 59px; */
    color: #777777;
    z-index: 30;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    font-size: 13px;
    background: #fff;
    text-decoration: none;
    padding-top: 10px;
    
    
}
.user-board-open-menu-layer-ul > li{
    padding-bottom: 10px;
    
}
.user-board-open-menu-layer-ul{
    margin: 0px;
    padding-left: 10px;
}
/* 나만보기 */

/* 수정 */
.user-board-open-menu-layer-class-fix-button{
    text-decoration: none;
    color: #777777;
}
.user-board-open-menu-layer-li-fix-button{
    cursor: pointer;
    
}

/* 삭제 */
.user-board-open-menu-layer-class-del-button{
    text-decoration: none;
    color: #777777;
}

.profile-Area-pf-div-back{
    cursor: pointer;
}

.user-board-open-menu-layer-li-del-button{
    cursor: pointer;
}


