@font-face {
    font-family: 'KakaoBig regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff2) format('woff2'),
        url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff) format('woff');
}
/*!sc*/
@font-face {
    font-family: 'KakaoBig Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff2) format('woff2'),
        url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff) format('woff');
}

blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: none;
}

body {
    background: #fff;
}

button,
input,
select,
textarea {
    vertical-align: middle;
    font-size: 100%;
}

button {
    border: 0;
    border-radius: 0;
    background-color: initial;
    cursor: pointer;
}

body,
button,
input,
select,
td,
textarea,
th {
    font-size: 14px;
    line-height: 1.5;
    font-family: KakaoBig Regular, Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo, dotum, 돋움, sans-serif;
    color: #444;
}

body,
html {
    min-width: 1140px;
    margin: 0;
    padding: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
var {
    font-style: normal;
    font-weight: 400;
}

fieldset,
img {
    border: 0;
}

a {
    cursor: pointer;
}

a {
    color: #444;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

/* body CSS */

body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#dkWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
}

#dkContent,
#rootContent {
    flex-grow: 1;
    min-height: calc(100vh - (70px + 250px));
}

#dkContent {
    position: relative;
    margin: 0 0 -212px;
}

#mArticle {
    padding: 0 0 250px;
}

.group-tagcovernew {
    width: 100%;
}

.cont-search #mArticle {
    margin-bottom: 100px;
    padding-bottom: 252px;
}

.screen-out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.group-tagcovernew .info-tag:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    content: '';
}

.group-tagcovernew.type-html .info-tag:before {
    display: none;
}

.group-tagcovernew .info-tag {
    position: relative;
    height: 600px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.group-tagcovernew.type-html .info-tag {
    background-position: 50% 100%;
    background-size: contain;
}

.inner-info-tag {
    position: absolute;
    left: 50%;
    bottom: 90px;
    width: 700px;
    color: #fff;
    transform: translateX(-50%);
}

.group-tagcovernew .tit-tag {
    display: block;
    font-family: KakaoBig Bold, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
}

.group-tagstate {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.group-tagstate .cont-tagstate {
    margin: 0 auto 40px;
    text-align: center;
    color: #202020;
}

.group-tagstate.group-bigissue .cont-tagstate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto 50px;
    text-align: left;
    flex-wrap: wrap;
}

.group-tagstate.group-bigissue .box-total-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
}
total-price .group-tagstate.group-bigissue .em-tag {
    display: block;
    font-size: 18px;
    font-family: KakaoBig Bold;
    color: #5478b7;
}

.group-tagstate .total-price {
    display: block;
    padding-bottom: 7px;
    font-size: 36px;
    font-family: KakaoBig Bold;
    font-weight: 400;
}

.group-tagstate.group-bigissue .total-price {
    padding-top: 6px;
    padding-bottom: 0;
    font-size: 40px;
}

.group-tagstate.group-bigissue .box-desc-state {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-width: 204px;
    min-height: 80px;
    border-left: 6px solid #d8d8d8;
    padding-left: 20px;
    color: #202020;
}

.group-tagstate.group-bigissue .box-desc-state .txt-state {
    font-size: 15px;
    padding-bottom: 9px;
    line-height: 15px;
}

.group-tagstate .join-state {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #444;
}

.group-tagstate.group-bigissue .box-desc-state .join-state {
    justify-content: left;
    padding-top: 14px;
    font-size: 14px;
}

.group-tagstate .box-profiles {
    overflow: hidden;
    margin-right: 10px;
}

.group-tagstate .box-profiles img {
    float: left;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 50%;
    vertical-align: top;
    box-sizing: border-box;
}

.group-tagstate .box-profiles img:first-child {
    position: relative;
    margin-right: -5px;
    z-index: 1;
}

.group-tagstate .box-tagdesc {
    position: relative;
    margin: 0 auto 50px;
}

.ico-together,
.ico-together2 {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.ico-together2 {
    background: url(//t1.kakaocdn.net/together_image/common/ico_together2_210820.png) no-repeat 0 0;
}

.group-tagstate .box-tagdesc .ico-quot1 {
    width: 22px;
    height: 17px;
    margin-bottom: 12px;
    background-position: -208px -955px;
}

.group-tagstate.group-bigissue .box-tagdesc .ico-quot1 {
    margin-left: 0;
    margin-right: 0;
}

.group-tagstate .desc-tag {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    word-break: break-all;
    white-space: pre-line;
}

.area-sns {
    margin-top: 27px;
    font-size: 0;
    text-align: center;
}

.group-tagstate .area-sns {
    margin-top: -5px;
}

.ico-social {
    float: left;
    width: 35px;
    height: 35px;
    margin: 2px;
    border-radius: 60px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}

.social-on {
    background-position: 0 0;
}

.ico-social.ico-kakaotalk {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_kakaotalk.svg);
}

.ico-social.ico-facebook {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_facebook.svg);
}

.ico-social.ico-twitter {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_twitter.svg);
}

.ico-social.ico-copy {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_copy.svg);
}

.area-sns .ico-copy,
.area-sns .ico-social {
    display: inline-block;
    float: none;
    margin: 5px 2px;
}

.ngdialog-content {
    overflow: hidden;
    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
}

.inner-together-layer {
    background-color: #fff;
}

.inner-together-layer .wrap-sns {
    padding: 54px 24px 30px;
}

.inner-together-layer14 .wrap-sns {
    padding: 26px 0 40px;
}

dl,
li,
menu,
ol,
ul {
    list-style: none;
}

.inner-together-layer .list-sns {
    overflow: hidden;
    padding: 7px 0 34px;
    text-align: center;
    font-size: 0;
}

.inner-together-layer14 .wrap-sns .list-sns {
    padding: 0;
}

.inner-together-layer .list-sns .ico-social {
    width: 35px;
    height: 35px;
    margin: 2px;
}

.inner-together-layer .layer-foot {
    position: absolute;
    top: 0;
    right: 0;
}

.ico-together {
    background: url(//t1.kakaocdn.net/together_image/common/ico_together_231005.png) no-repeat 0 0;
}

.inner-together-layer .layer-foot .btn-close {
    display: block;
    overflow: hidden;
}

.inner-together-layer .layer-foot .ico-together {
    width: 17px;
    height: 17px;
    margin: 22px;
    background-position: -184px 0;
}

.group-taglist {
    position: relative;
    width: 1000px;
    margin: 48px auto 0;
}

.tit-section {
    display: block;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #444;
    font-family: KakaoBig Bold, sans-serif;
    box-sizing: border-box;
}

.tit-section.section-type5 {
    position: absolute;
    top: 0;
    left: 0;
}

.group-taglist .tit-section.section-type5 {
    position: static;
}

.emph-sign {
    color: #dc287c;
}

.tit-section .color-g1,
.tit-section .emph-sign,
.write-cmt .info-append .emph-sign {
    color: #ff4050;
}

.sort-cate {
    overflow: hidden;
    width: 1000px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
}

.cont-search .group-taglist .sort-cate {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
}

.list-badge {
    overflow: hidden;
    margin-top: -24px;
    margin-left: -19px;
}

.group-taglist .list-badge {
    margin-top: -16px;
}

.list-badge li {
    float: left;
    position: relative;
    width: 236px;
    margin: 40px 0 0 18px;
}

.list-badge .link-pack {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.list-badge .box-thumb {
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

.img-thumb {
    display: block;
}

.list-badge .img-thumb {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 134px;
    border-radius: 10px;
    background-image: url(//t1.kakaocdn.net/together_image/bg_topic2.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    transition: 0.2s;
}

.group-catalog .link-official:hover .img-thumb,
.group-topslide .slide-pannel:hover .img-thumb,
.group-withyou .list-slide li:hover .area-thumb,
.list-badge .link-pack:hover .img-thumb {
    transform: scale(1.1);
}

.list-badge .box-together {
    display: block;
    position: relative;
    height: auto;
    padding-top: 13px;
    color: #444;
    background-color: #fff;
    /* vertical-align: bottom; */
    white-space: normal;
    box-sizing: border-box;
}

.list-badge .box-together .bundle-tit {
    display: block;
    height: 73px;
}

.ellipsis-type1 {
    -webkit-line-clamp: 2;
}

.ellipsis-type1,
.ellipsis-type2 {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
}

.box-together .tit-together {
    display: block;
    font-weight: 400;
    font-size: 19px;
    color: #444;
}

.list-badge .box-together .tit-together {
    display: -webkit-box;
    max-height: 50px;
    font-size: 15px;
    line-height: 23px;
}

.tag-bundle {
    position: absolute;
    top: -123px;
    left: 10px;
    max-width: 200px;
}

.cont-mypage .list-badge .tag-bundle,
.cont-search .list-badge .tag-bundle {
    display: flex;
    top: -32px;
    left: 12px;
    grid-gap: 2px;
    gap: 2px;
}

.list-badge .box-together .txt-proposer {
    display: block;
    overflow: hidden;
    margin-top: 6px;
    font-size: 13px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.list-badge .wrap-state {
    float: left;
    position: relative;
    width: calc(100% - 132px);
    height: 2px;
    margin-top: 22px;
}

.cont-mypage .list-badge .wrap-state,
.cont-search .list-badge .wrap-state {
    display: block;
    float: none;
    width: 100%;
    height: 3px;
    margin-top: 10px;
}

.list-badge .wrap-state .state-bar {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 999px;
    background-color: #ebebeb;
}

.cont-mypage .list-badge .wrap-state .state-bar,
.cont-search .list-badge .wrap-state .state-bar {
    height: 3px;
    border-radius: 999px;
    background-color: #e5e5e5;
}

.list-badge .wrap-state .state-gage {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    border-radius: 999px;
}

.list-badge .wrap-state .state-end {
    background-color: #999;
}

.cont-mypage .list-badge .box-number,
.cont-search .list-badge .box-number {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}

.list-badge .price-give {
    margin-top: 12px;
    font-size: 15px;
}

.cont-mypage .list-badge .percent-give,
.cont-search .list-badge .percent-give {
    font-family: KakaoBig Bold, sans-serif;
    color: #ff4050;
    font-size: 14px;
}

.cont-mypage .list-badge .percent-give.state_end,
.cont-search .list-badge .percent-give.state-end {
    color: #444;
}

.list-badge .price-give,
.list-badge .price-goal {
    display: block;
    color: #444;
    font-family: KakaoBig Bold, sans-serif;
    text-align: right;
}

.cont_mypage .list-badge .price-give,
.cont-search .list-badge .price-give {
    margin-top: 0;
    font-size: 14px;
}

.wrap-float-btns {
    display: flex;
    position: sticky;
    bottom: 18px;
    z-index: 9999;
    width: 100%;
    margin-top: 50px;
    margin-bottom: -100px;
    justify-content: center;
    transform: translateY(400%);
    transition: 0.2s;
}

.wrap-float-btns.sticky {
    transform: translateY(0);
    transition: 0.2s;
}

.wrap-float-btns .btn-g {
    width: 400px;
    margin: 0 auto;
    height: 60px;
    border-radius: 6px;
    background: #434343;
    font-size: 0;
}

.wrap-float-btns .btn-off {
    cursor: default;
    display: none;
}

.wrap-float-btns .btn-g .txt-btn {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

.wrap-float-btns .btn-off .txt-btn {
    color: #999;
}

.wrap-float-btns .btn-on {
    cursor: pointer;
}

.wrap-float-btns .btn-on .txt-btn {
    color: #ffffff;
}
