@font-face {
    font-family: "KakaoBig regular";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff2) format("woff2"),
        url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff) format("woff");
}

@font-face {
    font-family: "KakaoBig Bold";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff2) format("woff2"),
        url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff) format("woff");
}

body {
    min-width: 1140px;
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

text {
    display: block;
    white-space: nowrap;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

select {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    -webkit-rtl-ordering: logical;
    background-color: field;
    cursor: default;
    margin: 0em;
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}

blockquote,
q {
    quotes: none;
}

menu,
ol,
ul {
    list-style: none;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav {
    display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: calc(-244px + 100vh);
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
}

.main-wrap {
    padding: 86px 0px 79px;
    background-color: rgb(255, 223, 226);
}

.main-img {
    width: 100%;
    height: 378px;
    padding-top: 0px;
    /* text-align: center;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    font-size: 100px; */
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://t1.kakaocdn.net/together_image/common/bg_intro_visual.png");
}

.main-txt {
    padding-top: 60px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.43;
    letter-spacing: -0.1px;
    font-weight: 600;
    text-align: center;
}

.txt-br1 {
    display: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.43;
    letter-spacing: -0.1px;
    font-weight: 600;
    padding-top: 40px;
    text-align: center;
}

.txt-br2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.43;
    letter-spacing: -0.1px;
    font-weight: 600;
    padding-top: 40px;
    text-align: center;
}

.list-wrap {
    border-bottom: 1px solid rgb(229, 229, 229);
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 150;
}

.tab-list {
    justify-content: center;
    gap: 32px;
    display: flex;
    align-items: center;
}

li.tab-menu-on {
    border-bottom: 2px solid rgb(32, 32, 32);
}

.tab-menu {
    display: flex;
    justify-content: center;
    flex-basis: 80px;
    height: 64px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
}

.tab-button {
    padding: 0px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 0px;
    font-family: "KakaoBig Bold";
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

span.tab-menu-txt-on {
    color: rgb(32, 32, 32);
}

.tab-menu-txt {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    color: rgb(136, 136, 136);
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 2;
    letter-spacing: -0.1px;
}

.tab-panel {
    width: 100%;
    padding: 100px 0px 0px;
    box-sizing: border-box;
    margin: 0px auto;
    background-color: rgb(248, 248, 248);
}

.panel-img-wrap {
    text-align: center;
}

.panel-img {
    width: 224px;
    display: inline-block;
    vertical-align: top;
}

.main-subject {
    width: 700px;
    margin-top: -130px;
    padding-top: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px;
    position: relative;
    margin: -70px auto 0px;
    box-sizing: border-box;
    padding: 40px 0px 32px;
    text-align: center;
}

.subject-txt {
    color: rgb(32, 32, 32);
    font-size: 40px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

.txt-sub {
    color: rgb(32, 32, 32);
    font-size: 18px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    font-weight: 600;
    line-height: 1.47;
    padding: 24px 0px;
    text-align: center;
}

.sub-btn-wrap {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.sub-btn {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    height: 36px;
    padding: 0px 20px;
    border-radius: 999px;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    font-family: "KakaoBig Bold";
    font-size: 14px;
    cursor: pointer;
}

.slide-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    padding-top: 32px;
}

@keyframes animationInfiniteRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0px);
    }
}
@keyframes animationInfiniteLeft {
    100% {
        transform: translateX(-100%);
    }

    0% {
        transform: translateX(0px);
    }
}

.slide-show1 {
    /* display: none !important; */
    animation-duration: 100s;
    height: 112px;
    /* width: 2246px; */
    gap: 8px;
    animation: 80s linear 0s infinite normal none running animationInfiniteRight;
}

.slide1 {
    display: block;
    height: 100%;
    /* vertical-align: top; */
}

.slide-show2 {
    /* display: none !important; */
    animation-duration: 100s;
    height: 112px;
    /* width: 2246px; */
    gap: 8px;
    animation: 80s linear 0s infinite normal none running animationInfiniteLeft;
}

.slide2 {
    display: block;
    height: 100%;
}

.share-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 700px;
    margin: 20px auto 0px;
}

.share-box {
    width: 700px;
    margin: 0px auto;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0;
    padding: 32px 20px;
}

.share-txt {
    color: rgb(32, 32, 32);
    font-size: 16px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 1.47;
    padding-bottom: 32px;
    text-align: center;
}

.share-list {
    gap: 12px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.share-sub {
    display: list-item;
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.share-content-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.share-icon {
    width: 48px;
    height: 48px;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    mask-image: url(//t1.kakaocdn.net/together_image/svg/squircle.svg);
    mask-size: 100% 100%;
}

.share-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
}

.share-img::after {
    content: "";
    position: absolute;
    inset: 0px;
    background-image: url(//t1.kakaocdn.net/together_image/svg/squircle_border.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-content {
    padding-top: 0px;
    text-align: left;
    display: block;
    color: rgb(32, 32, 32);
    font-size: 13px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.star-share {
    width: 700px;
    margin: 0px auto;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px;
    padding: 32px 20px;
    text-align: center;
}

.star-content {
    color: rgb(32, 32, 32);
    font-size: 16px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 1.47;
    padding-bottom: 12px;
    text-align: center;
}

.star-detail {
    padding: 10px;
    margin: -10px;
    text-decoration: underline;
    color: rgb(32, 32, 32);
    font-size: 13px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.star-thumb-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.star-thumb1 {
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    mask-image: url(//t1.kakaocdn.net/together_image/svg/squircle.svg);
    mask-size: 100% 100%;
}

.star-thumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
}

.star-thumb-img::after {
    content: "";
    position: absolute;
    inset: 0px;
    background-image: url(//t1.kakaocdn.net/together_image/svg/squircle_border.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.star-thumb2 {
    width: 96px;
    height: 96px;
    position: relative;
    margin: 0px -19px;
    z-index: 1;
    flex: 0 0 auto;
    overflow: hidden;
    mask-image: url(//t1.kakaocdn.net/together_image/svg/squircle.svg);
    mask-size: 100% 100%;
}

.review-wrap {
    width: 700px;
    margin: 40px auto 0px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px;
    box-sizing: border-box;
    padding: 24px 20px 52px;
}

.review-tit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0px 12px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 999px;
    box-sizing: border-box;
    color: rgb(32, 32, 32);
    font-size: 12px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.67;
    letter-spacing: -0.1px;
}

.review-sub {
    color: rgb(32, 32, 32);
    font-size: 18px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    font-weight: 600;
    line-height: 1.47;
    padding: 12px 0px 24px;
    text-align: center;
}

.review-content-wrap {
    width: 100%;
}

.slide-container {
    position: relative;
    margin: 0px -8px;
}

.slide-tab {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.slide-content {
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.slider-control {
    pointer-events: auto;
    margin-bottom: -30px;
}

.list-paging {
    gap: 3px;
    display: flex;
}

.list-paging li {
    line-height: 0;
}

.control-button {
    position: relative;
    width: 6px;
    height: 6px;
    padding: 0px;
    border: 0px;
    border-radius: 100%;
    opacity: 0.2;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: "KakaoBig Bold";
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13px;
}

.control-button::before {
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 16px;
    margin-top: -8px;
    background-color: transparent;
    content: "";
}

.slider-frame {
    overflow: hidden;
    width: 100%;
    position: relative;
    outline: none;
    touch-action: pan-y;
    height: auto;
    /* transition: height 300ms ease-in-out;
    will-change: height; */
    user-select: none;
}

.slider-list {
    width: 860%;
    text-align: left;
    user-select: auto;
    /* transform: translateX(calc(-50% + 5408px)); */
    display: flex;
}

.slide {
    width: 5.555555555555555%;
    height: auto;
    padding: 0 8px;
    opacity: 1;
}

.color-red {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: none;
    background-color: rgb(255, 236, 237);
    box-sizing: border-box;
    padding: 32px 20px;
}

.color-purple {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: none;
    background-color: #f7edff;
    box-sizing: border-box;
    padding: 32px 20px;
}
.color-yellow {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: none;
    background-color: #fffec3;
    box-sizing: border-box;
    padding: 32px 20px;
}
.color-blue {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: none;
    background-color: #e3efff;
    box-sizing: border-box;
    padding: 32px 20px;
}
.color-orange {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: none;
    background-color: #ffecc3;
    box-sizing: border-box;
    padding: 32px 20px;
}

.content-tit-wrap {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.content-tit {
    color: rgb(32, 32, 32);
    font-size: 15px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 1.6;
}

.review-img-wrap {
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.review-img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
}

.review-img-wrap::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 50%;
    box-sizing: border-box;
}

.review-content {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: rgb(32, 32, 32);
    font-size: 13px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.54;
    letter-spacing: -0.1px;
    padding-top: 16px;
}

.every-action-img-wrap {
    padding-top: 80px;
    text-align: center;
}

.every-action-img {
    display: inline-block;
    vertical-align: top;
    width: 220px;
}

.action-control-button {
    position: relative;
    width: 6px;
    height: 6px;
    padding: 0px;
    border: 0px;
    border-radius: 100%;
    opacity: 0.2;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: "KakaoBig Bold";
    line-height: 1.5;
    letter-spacing: -0.1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13px;
}

.action-control-button::before {
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 16px;
    margin-top: -8px;
    background-color: transparent;
    content: "";
}

.action-container {
    width: 700px;
    margin-top: -93px;
    padding: 50px 0px 32px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px;
    position: relative;
    margin: -49px auto 0px;
    box-sizing: border-box;
    text-align: center;
}

.action-tit {
    color: rgb(32, 32, 32);
    font-size: 40px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

.action-content {
    color: rgb(32, 32, 32);
    font-size: 18px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    font-weight: 600;
    line-height: 1.47;
    padding: 24px 0px;
    text-align: center;
}

.link-button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.direct-go {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    height: 36px;
    padding: 0px 20px;
    border-radius: 999px;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    font-family: "KakaoBig Bold";
    font-size: 14px;
}

.every-action-wrap {
    padding-bottom: 38px;
    padding: 32px 20px 28px;
}

.action-slider-control {
    pointer-events: auto;
    margin-bottom: -38px;
}

.action-slide-wrap {
    width: 100%;
}

.action-dots {
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.action-slide-content {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    /* clip: rect(0, 0, 0, 0); */
    white-space: nowrap;
    border: 0;
}

.action-slider-frame {
    overflow: hidden;
    width: 100%;
    position: relative;
    outline: none;
    touch-action: pan-y;
    height: auto;
    /* transition: height 300ms ease-in-out; */
    will-change: height;
    user-select: none;
}

.action-slider-list {
    width: 900%;
    text-align: left;
    user-select: auto;
    /* transform: translateX(calc(-38.8889% + 0px)); */
    display: flex;
}

.action-prev-clone {
    width: 5.555555555555555%;
    height: auto;
    padding: 0 8px;
    opacity: 1;
}

.content-card {
    box-sizing: border-box;
    height: 100%;
}

.card-inner {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.card-thumb1 {
    /* border: 1px solid black; */
    padding-bottom: 74.915%;
    width: 100%;
    height: 0px;
    border-radius: 8px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-image: url("	https://t1.kakaocdn.net/together_image/common/img_action_01.png");
    background-repeat: no-repeat;
}
.card-thumb2 {
    /* border: 1px solid black; */
    padding-bottom: 74.915%;
    width: 100%;
    height: 0px;
    border-radius: 8px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-image: url("https://t1.kakaocdn.net/together_image/common/img_action_02.png");
    background-repeat: no-repeat;
}

.card-thumb::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: inherit;
}

.card-content {
    padding-top: 16px;
    width: 100%;
    padding: 8px 0px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-tit {
    font-size: 14px;
    line-height: 1.43;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    color: rgb(32, 32, 32);
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
}

.card-em {
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
    letter-spacing: -0.1px;
}

.card-sub {
    letter-spacing: -0.3px;
    word-break: keep-all;
    color: rgb(32, 32, 32);
    font-size: 17px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1.48;
    padding-top: 8px;
    quotes: none;
}

.card-cont {
    color: rgb(32, 32, 32);
    font-size: 13px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.54;
    letter-spacing: -0.1px;
    padding-top: 12px;
}

.mind-weather-img {
    padding-top: 80px;
    text-align: center;
}

.mind-chunsik {
    display: inline-block;
    vertical-align: top;
    width: 220px;
}

.mind-weather-container {
    width: 700px;
    margin-top: -111px;
    padding: 50px 40px 24px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px;
    position: relative;
    margin: -65px auto 0px;
    box-sizing: border-box;
    text-align: center;
}

.mind-tit {
    color: rgb(32, 32, 32);
    font-size: 40px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

.mind-sub {
    color: rgb(32, 32, 32);
    font-size: 18px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    font-weight: 600;
    line-height: 1.47;
    padding: 24px 0px;
    text-align: center;
}

.mind-button {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.mind-icon-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    margin-top: 32px;
    border-top: 1px solid rgb(229, 229, 229);
    padding: 32px 20px 0px;
}

.mind-icon {
    display: list-item;
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.mind-block {
    flex-direction: column;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 24px;
}

.mind-img {
    width: 85px;
    height: 83px;
    margin-left: 0px;
    margin-bottom: 16px;
    flex-shrink: 0;
    display: block;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("https://t1.kakaocdn.net/together_image/common/ico_mind_01.png");
}

.mind-icon-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 4px;
}

.mind-icon-tit {
    color: rgb(32, 32, 32);
    font-size: 15px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.47;
    letter-spacing: -0.1px;
    font-weight: 600;
}

.mind-icon-sub {
    color: rgb(32, 32, 32);
    font-size: 13px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

#company-introduce {
    display: block;
}

#crrent {
    display: none;
}

/* 현황 */
.now-wrap {
    width: 100%;
    padding: 100px 0px 120px;
    margin: 0px auto;
    background-color: rgb(248, 248, 248);
}

.now-donate-img-wrap {
    text-align: center;
}

.donate-img {
    display: inline-block;
    vertical-align: top;
    width: 262px;
}

.now-donate-wrap {
    width: 700px;
    padding: 40px 26px 32px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px;
    position: relative;
    margin: 0px auto;
    box-sizing: border-box;
    text-align: center;
}

.donate-tit {
    color: rgb(32, 32, 32);
    font-size: 16px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    font-weight: 600;
    line-height: 1.5;
}

.donate-total-money {
    padding: 16px 0px 32px;
    display: block;
    letter-spacing: -2px;
    color: rgb(32, 32, 32);
    font-size: 85px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-align: center;
}

.donate-detail-list {
    display: grid;
    grid-template-columns: repeat(3, 216px);
    row-gap: 16px;
    flex-direction: column;
    padding-top: 24px;
    border-top: 1px solid rgb(229, 229, 229);
    margin: 0px;
    /* padding: 0px; */
}

.donate-detail {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.detail-img-wrap {
    width: 64px;
    height: 64px;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    mask-image: url(//t1.kakaocdn.net/together_image/svg/squircle.svg);
    mask-size: 100% 100%;
}

.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    vertical-align: top;
}

.detail-img::after {
    content: "";
    position: absolute;
    inset: 0px;
    background-image: url(//t1.kakaocdn.net/together_image/svg/squircle_border.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.detail-donate-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detail-tit {
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
    letter-spacing: -0.1px;
}

.detail-money {
    letter-spacing: -0.3px;
    word-break: break-all;
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
}

.graph-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 700px;
    margin: 20px auto 0px;
}

.with-donate {
    width: 700px;
    height: 702px;
    margin: 100px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 24px 0px;
    box-sizing: border-box;
    padding-top: 24px;
}

.with-tit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0px 11px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 999px;
    color: rgb(32, 32, 32);
    font-size: 12px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.67;
    letter-spacing: -0.1px;
}

.with-sub {
    color: rgb(32, 32, 32);
    font-size: 18px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    font-weight: 600;
    line-height: 1.47;
    padding: 12px 0px 18px;
    text-align: center;
}

.with-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.select-year-wrap {
    padding: 0px 20px;
}

.select-year {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(68, 68, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-box {
    padding: 10px 0px;
    font-family: "KakaoBig Bold";
    font-size: 14px;
    letter-spacing: -0.1px;
    margin: 0px;
    min-width: 0px;
    display: block;
    width: 100%;
    line-height: inherit;
    border: 0px;
    color: inherit;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    overflow: visible !important;
}

.select-year-button {
    margin-left: -18px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transform: rotate(90deg);
    opacity: 1;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 14px 20px 24px;
}

.graph-statics-list {
    padding-bottom: 20px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.graph-statics {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.graph-list-tit {
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 1.86;
}

.graph-list-num-wrap {
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 1.86;
}

.graph-list-num {
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 1.86;
    padding-right: 4px;
}

.circle-graph-container {
    display: flex;
    justify-content: center;
}

.circle-wrap {
    position: relative;
}

.circle-svg {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.circle-per {
    fill: rgb(255, 255, 255);
    font-size: 7px;
}

.circle-inner-year {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0px;
}

.inner-year-txt {
    color: rgb(32, 32, 32);
    font-size: 22px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.45;
    letter-spacing: -0.3px;
    font-weight: 600;
}

.graph-bottom {
    background-color: rgb(238, 238, 238);
    padding: 16px 20px;
}

.bottom-lists {
    margin: 0px;
    padding: 0px;
}

.bottom-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -0.1px;
}

.bottom-tit {
    display: flex;
    align-items: center;
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 2;
    margin-left: -4px;
}

.red-dot {
    display: inline-flex;
    transform: scale(0.4);
    color: rgb(32, 32, 32);
    font-size: 10px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    padding-right: 3px;
}

.bottom-money-wrap {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 2;
}

.bottom-money {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 2;
    padding-right: 4px;
}

.circles-wrap {
    display: flex;
    justify-content: center;
}

.circles {
    display: flex;
}

.circle-action-donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 152px;
    border-radius: 100%;
    background-color: rgb(255, 102, 114);
}

.circle-action-donate-tit {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.67;
    letter-spacing: -0.1px;
}

.circle-action-donate-detail {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
    letter-spacing: -0.1px;
}

.action-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 184px;
    margin: 53px 0px 0px -33px;
    border-radius: 100%;
    background-color: rgb(68, 68, 68);
}

.action-circle-tit {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
    letter-spacing: -0.1px;
}

.action-circle-detail {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.67;
    letter-spacing: -0.1px;
    font-weight: 600;
}

.action-bottom-tit {
    display: flex;
    align-items: center;
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Bold", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 2;
    margin-left: -4px;
}

.action-bottom-detail {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.1px;
    line-height: 2;
    padding: 0px 10px;
}

#nav-bar {
    border-bottom: 1px solid rgb(229, 229, 229);
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 209;
}
