/* @font-face {
    font-family: KakaoBig Bold;
    src: url('./kakao-big-bold.woff2') format('woff2');
}

@font-face {
    font-family: KakaoBig Regular;
    src: url('./kakao-big-regular.woff2') format('woff2');
} */

@font-face {
    font-family: "KakaoBig regular";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff2) format("woff2"),
        url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff) format("woff");
}

/*!sc*/
@font-face {
    font-family: "KakaoBig Bold";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff2) format("woff2"),
        url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff) format("woff");
}

body {
    background: #fff;
    display: block;
    margin: 8px;
    /* -webkit-text-size-adjust: none; */
}

div {
    display: block;
}

strong {
    font-weight: bold;
}

a {
    color: #444;
    cursor: pointer;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    /* text-align: -webkit-match-parent; */
}

button {
    border: 0;
    border-radius: 0;
    background-color: initial;
    cursor: pointer;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button {
    appearance: auto;
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ; */
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

fieldset,
img {
    border: 0;
}

body,
html {
    min-width: 1140px;
    margin: 0;
    padding: 0;
}

dl,
li,
menu,
ol,
ul {
    list-style: none;
}

button,
input,
select,
textarea {
    vertical-align: middle;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
var {
    font-style: normal;
    font-weight: 400;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
var {
    font-style: normal;
    font-weight: 400;
}

body,
button,
input,
select,
td,
textarea,
th {
    font-size: 14px;
    line-height: 1.5;
    font-family: KakaoBig Regular, Malgun Gothic, 맑은 고딕, Apple SD Gothic Neo, dotum, 돋움, sans-serif;
    color: #444;
}

blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

#my-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
}

#my-content #top-span {
    flex-grow: 1;
    min-height: calc(100vh - (70px + 250px));
}

#my-content {
    position: relative;
    margin: 0 0 -212px;
    flex-grow: 1;
    min-height: calc(100vh - (70px + 250px));
}

.my-content #my-article {
    padding-bottom: 212px;
}

#my-article {
    padding: 0 0 250px;
}

.mypage-content {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 170px;
}

.screen-out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.group-profile {
    /* border: 1px solid black; */
    position: relative;
    min-height: 190px;
    padding-top: 34px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: 98% 18px;
    background-image: url("t1.kakaocdn.net/together_image/bg_mypage.png");
    background-repeat: no-repeat;
    background-size: 215px 160px;
}

/* @media only all and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px),
    only all and (min-device-pixel-ratio: 1.5) and (min-width: 768px),
    only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px),
    only screen and (min-resolution: 1.5dppx) and (min-width: 768px) {
    .group-profile {
        background: url('t1.kakaocdn.net/together_image/bg_mypage_rtn.png') 98% 18px no-repeat;
        background-size: 215px 160px;
    }
} */

.group-profile .area-name {
    display: inline-block;
    max-width: 550px;
    vertical-align: top;
}

.group-profile .area-name .txt-nick {
    max-width: 465px;
    text-overflow: ellipsis;
    word-wrap: normal;
    font-size: 18px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-family: KakaoBig Bold, sans-serif;
}

.group-profile .area-name .box-name {
    display: inline-block;
    position: relative;
    max-width: 465px;
}

.group-profile .area-name .txt-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-family: KakaoBig Bold, sans-serif;
    text-overflow: ellipsis;
    font-size: 36px;
    line-height: 1.4;
}
.group-profile .area-thumb {
    position: absolute;
    top: 40px;
    right: 40px;
}

.group-profile .area-thumb .link-badge {
    position: absolute;
    left: -15px;
    width: 40px;
    height: 40px;
}

.group-profile .area-thumb .badge-thumb .img-thumb {
    width: 100%;
    height: 100%;
}

.img-thumb {
    display: block;
}

.group-profile .area-thumb .link-thumb {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-thumb {
    display: block;
}

.group-profile .area-thumb .profile-thumb .img-thumb {
    width: 100%;
    height: 100%;
}

.group-profile .area-setting {
    height: 40px;
    padding-top: 14px;
    padding-left: 3px;
}

.group-profile .area-setting .link-setting {
    font-size: 14px;
    border-bottom: 1px solid #444;
    background-color: initial;
}

.screen-out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.group-shadow {
    position: relative;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px 0 #00000012;
}

.history-section {
    border-top: 0;
    margin: 0 40px;
    padding-top: 31px;
    font-size: 24px;
    display: block;
    font-weight: 400;
    line-height: 26px;
    color: #444;
    font-family: KakaoBig Bold, sans-serif;
    box-sizing: border-box;
}

.btn-release {
    position: absolute;
    top: 20px;
    right: 40px;
    display: inline-block;
    height: 40px;
    padding: 0 17px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: 20px;
    font-size: 13px;
    line-height: 38px;
    font-family: KakaoBig Regular, sans-serif;
    box-sizing: border-box;
    vertical-align: top;
}

.area-detail {
    overflow: hidden;
    padding: 27px 40px 39px;
}

.total-donate {
    max-width: 300px;
    float: left;
    padding-top: 1px;
}

.tit-strong {
    font-weight: 400;
    font-size: 15px;
    color: #666;
}

.num-total {
    display: block;
    overflow: hidden;
    height: 48px;
    font-size: 32px;
    font-family: KakaoBig Bold, sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.total-donate {
    min-width: 155px;
}

.detail-donate {
    float: right;
    min-width: 155px;
}

.donate-li {
    overflow: hidden;
    line-height: 26px;
}

.tit-detail {
    float: left;
    font-size: 15px;
    color: #666;
}

.num-detail {
    overflow: hidden;
    float: right;
    max-width: 170px;
    margin-left: 10px;
    font-size: 15px;
    font-family: KakaoBig Bold, sans-serif;
}

.area-more-info {
    height: 60px;
    border-radius: 0 0 12px 12px;
    background-color: #f5f5f5;
}

.area-more-info .list-more-info {
    overflow: hidden;
    text-align: center;
}

.area-more-info .list-more-info li {
    display: inline-block;
    vertical-align: top;
}

.area-more-info .list-more-info .link-more {
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 60px;
    color: #444;
    font-family: KakaoBig Bold, sans-serif;
    vertical-align: top;
}

.area-more-info .list-more-info li:before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 28px 30px;
    border-radius: 50%;
    background-color: #444;
    vertical-align: top;
    content: "";
}

.list-more-info .li-before::before {
    content: none !important;
}

.group-action-before {
    display: block;
    box-sizing: border-box;
    height: 297px;
    padding: 28px 0;
    text-align: center;
    position: relative;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px 0 #00000012;
}

.group-action-before .tit-action {
    font-family: KakaoBig Bold;
    font-size: 22px;
    line-height: 30px;
    color: #444;
}

.group-action-before .desc-action {
    padding-top: 6px;
    font-size: 15px;
    color: #666;
}

.group-action-before .box-thumnail {
    display: block;
    width: 110px;
    margin: 18px auto -4px;
}

.group-action-before .img-thumbnail {
    width: 100%;
    display: block;
}

.link-round {
    display: inline-block;
    height: 40px;
    padding: 0 17px;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    font-size: 13px;
    line-height: 38px;
    font-family: KakaoBig Regular, sans-serif;
    box-sizing: border-box;
    vertical-align: top;
    background-color: white;
}

.group-mypersonality {
    padding: 5px 40px 20px;
    background-color: #fff;
    position: relative;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px 0 #00000012;
}

.group-mypersonality .part-analysis {
    padding-bottom: 60px;
}

.group-mypersonality .part-analysis .section-type {
    padding-bottom: 55px;
    padding-top: 26px;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #444;
    font-family: KakaoBig Bold, sans-serif;
    box-sizing: border-box;
}

.area-analysis {
    position: relative;
    max-width: 560px;
    height: 100%;
}

.area-analysis .list-analysis {
    position: relative;
    z-index: 10;
    text-align: left;
}

.area-analysis .list-analysis li {
    position: relative;
    margin-top: 35px;
}

.area-analysis .list-analysis + li {
    margin-top: 0px;
}
.area-analysis .link-analysis {
    display: block;
}

.area-analysis .link-analysis .tit-analysis {
    display: inline-block;
    padding-bottom: 33px;
    font-size: 18px;
    font-weight: 400;
    font-family: KakaoBig Bold, sans-serif;
    vertical-align: top;
}

.area-analysis .link-analysis .tit-analysis .sub-analysis {
    display: inline-block;
    margin: 6px 6px 0 3px;
    font-size: 13px;
    vertical-align: top;
}

.area-analysis .graph-analysis {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 560px;
    font-size: 0;
}

.area-analysis .graph-analysis .graph-bar1 {
    width: 72%;
    background: linear-gradient(90deg, #fff0, #ffd307);
    display: inline-block;
    position: relative;
    height: 20px;
    border-radius: 0 19px 19px 0;
    vertical-align: top;
}

.area-analysis .graph-analysis .graph-bar1 .graph-num {
    display: none;
    position: absolute;
    top: -9px;
    left: 100%;
    margin-left: 9px;
    font-size: 24px;
    font-weight: 400;
    font-family: KakaoBig Bold, sans-serif;
}

.area-analysis .graph-analysis .graph-bars .question-mark-icon {
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    width: 12px;
    height: 20px;
    background-position: -456px -921px;
    background-image: url("https://t1.kakaocdn.net/together_image/common/ico_together2_210820.png");
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.area-analysis .graph-analysis .graph-bar2 {
    width: 58%;
    background: linear-gradient(90deg, #fff0, #ffa131);
    display: inline-block;
    position: relative;
    height: 20px;
    border-radius: 0 19px 19px 0;
    vertical-align: top;
}

.area-analysis .graph-analysis .graph-bar3 {
    width: 47%;
    background: linear-gradient(90deg, #fff0, #84dc1d);
    display: inline-block;
    position: relative;
    height: 20px;
    border-radius: 0 19px 19px 0;
    vertical-align: top;
}
.area-analysis .graph-analysis .graph-bar4 {
    width: 84%;
    background: linear-gradient(90deg, #fff0, #e97fff);
    display: inline-block;
    position: relative;
    height: 20px;
    border-radius: 0 19px 19px 0;
    vertical-align: top;
}
.area-analysis .graph-analysis .graph-bar5 {
    width: 66%;
    background: linear-gradient(90deg, #fff0, #2eaeff);
    display: inline-block;
    position: relative;
    height: 20px;
    border-radius: 0 19px 19px 0;
    vertical-align: top;
}

.area-analysis .boundary-low {
    left: 30%;
    position: absolute;
    bottom: -37px;
    width: 26px;
    margin-left: -10px;
    font-size: 12px;
    font-weight: 400;
    font-family: KakaoBig Bold, sans-serif;
}

.area-analysis .boundary-low .line-info {
    position: absolute;
    top: -472px;
    left: 10px;
    width: 1px;
    height: 472px;
    background: url(https://t1.kakaocdn.net/together_image/line_190730_small.png) repeat-y 0 100%;
}

.area-analysis .boundary-high {
    left: 70%;
    position: absolute;
    bottom: -37px;
    width: 26px;
    margin-left: -10px;
    font-size: 12px;
    font-weight: 400;
    font-family: KakaoBig Bold, sans-serif;
}

.area-analysis .boundary-high .line-info {
    position: absolute;
    top: -472px;
    left: 10px;
    width: 1px;
    height: 472px;
    background: url(https://t1.kakaocdn.net/together_image/line_190730_small.png) repeat-y 0 100%;
}

.group-mypersonality .release-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    display: inline-block;
    height: 40px;
    padding: 0 17px;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    font-size: 13px;
    line-height: 38px;
    font-family: KakaoBig Regular, sans-serif;
    box-sizing: border-box;
    vertical-align: top;
}

.group-hello {
    display: block;
    height: 280px;
    text-align: center;
}

.tit-weather {
    padding-top: 32px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    font-family: KakaoBig Bold, sans-serif;
    text-align: center;
}

.txt-weather {
    padding-top: 6px;
    font-size: 15px;
    color: #666;
    text-align: center;
}

.group-hello .thumb-img {
    display: block;
    width: 150px;
    margin: 16px auto 0;
}

.group-hello .thumb-img .img-thumb {
    width: 100%;
}

.group-badge {
    padding-bottom: 20px;
}

.tit-badge {
    border-top: 0;
    margin: 0 40px;
    padding-top: 31px;
    font-size: 24px;
    display: block;
    font-weight: 400;
    line-height: 26px;
    color: #444;
    font-family: KakaoBig Bold, sans-serif;
    box-sizing: border-box;
}

.badge-num {
    color: #ff4050;
    padding-left: 5px;
}

.badge-list {
    margin: 0;
    padding: 20px 40px 5px;
}

.badge-list::after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: "";
}

.my-badge {
    width: 20%;
    margin: 0;
    float: left;
}

.badge-link {
    width: auto;
    height: 150px;
    padding-top: 7px;
    text-align: center;
    color: #666;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.badge-thumb-on {
    opacity: 1;
    display: block;
    width: 72px;
    height: 72px;
    margin: 6px auto 0;
}

.badge-number {
    font-size: 13px;
    display: block;
    position: relative;
    width: 132px;
    /* height: 150px; */
    padding-top: 7px;
    text-align: center;
    color: #666;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.badge-name {
    color: #444;
    display: block;
    overflow: hidden;
    margin-top: 7px;
    font-weight: 400;
    font-size: 15px;
    /* color: #aaa; */
    white-space: nowrap;
    text-overflow: ellipsis;
}

.badge-thumb-off {
    display: block;
    width: 72px;
    height: 72px;
    margin: 6px auto 0;
    opacity: 0.2;
}

.list-more {
    padding-top: 0;
    padding: 23px 0 0;
    text-align: center;
}
